<?xml version="1.0"?>
<launch>

    <node pkg="correlation_flow" type="correlation_flow_node" name="correlation_flow_node" output="screen">

    	<!-- <remap from="~/camera/image" to="/camera/image_mono"/> -->
    	<remap from="~/camera/image" to="/camera/image_raw"/>

    	<param name="image_width" type="int" value="160"/>
    	<param name="image_height" type="int" value="120"/>
    	<param name="focal_x" type="double" value="531.20"/>
    	<param name="focal_y" type="double" value="531.78"/>

  	</node>
<!--
  	<node pkg="correlation_flow" type="body2ned.py" name="frame_transform" />
-->
</launch>
