<?xml version="1.0"?>
<launch>

    <node pkg="correlation_flow" type="correlation_flow_node" name="correlation_flow_node" output="screen">

    	<remap from="~/camera/image" to="/camera/image_mono"/>
    	<!-- <remap from="~/camera/image" to="/usb_cam/image_raw"/> -->
  	</node>
<!--
  	<node pkg="correlation_flow" type="body2ned.py" name="frame_transform" />
-->
</launch>
